/dts-v1/;
/plugin/;

/{
    fragment@0 {
        target = <&i2c7>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            radiocam@28 {
                status = "okay";
                compatible = "ucb-ral,radiocam";
                reg = <0x28>;
                port {
                    radiocam_out: endpoint {
                        remote-endpoint = <&mipi_in_ucam2>;
                        data-lanes = <1 2 3 4>;
                        lane-polarities = <0 1 0 0 0>;
                        link-frequencies = /bits/ 64 <160000000>;
                    };
                };
            };
        };
    };

    fragment@1 {
        target = <&csi2_dphy0>; 
        __overlay__ {
        ports {
            #address-cells = <1>;
            #size-cells = <0>;
            port@0 {
                #address-cells = <1>;
                #size-cells = <0>;
                mipi_in_ucam2: endpoint@2 {
                    reg = <2>;
                    remote-endpoint = <&radiocam_out>;
                    data-lanes = <1 2 3 4>;
                    lane-polarities = <0 0 0 0 0>;
                    link-frequencies = /bits/ 64 <160000000>;
                };
            };
        };
        };
    };

    fragment@2 {
        target = <&csi2_dphy0_hw>;

        __overlay__ {
            status = "okay";
        };
    };

    fragment@3 {
        target = <&csi2_dphy0>;

        __overlay__ {
            status = "okay";
        };
    };

    fragment@4 {
        target = <&mipi2_csi2>;

        __overlay__ {
            status = "okay";
        };
    };

    fragment@5 {
        target = <&rkcif_mipi_lvds2>;

        __overlay__ {
            status = "okay";
        };
    };

    fragment@6 {
        target = <&rkcif>;

        __overlay__ {
            status = "okay";
        };
    };

    fragment@7 {
        target = <&rkcif_mmu>;

        __overlay__ {
            status = "okay";
        };
    };
};
